{% include 'header.html' %}

{% include 'nav.html' %}

<!-- not yet available, but soon
<a href='/graphs?author={{ repo.pk }}&start={{ start_str }}&end={{ end_str }}&intv={{ intv }}'>Graphs: All Repos</a>
-->

<!-- FIXME: better layout -->

Display Name: {{ author.display_name }}<br/>
Email: {{ author.email }}</br>

<br/>Overall stats for this author, across all repositories, will appear here in a future upgrade. See also:<br/><br/>

<a href='/graphs?author={{ author.pk }}&repos=ALL&start={{ start_str }}&end={{ end_str }}'><i class='fas fa-chart-line'></i> Graphs</a><br/>
<a href='/report/stats?author={{ author.pk }}&start={{ start_str }}&end={{ end_str }}'><i class='fas fa-table'></i> Stats for All Repos</a></br>
<a href='/report/commits?author={{ author.pk }}&start={{ start_str }}&end={{ end_str }}'><i class='fas fa-rss-square'></i> Commit Feed For All Repos</a></br>

{% include 'footer.html' %}
