{% include 'header.html' %}

{% include 'nav.html' %}

Browsing: {{ path }}<br/>

<font size="-1"><i>note: this feature is under active development. It will take some time to load and may melt your CPU.</i></font>
<br/><br/>

<table border="0">

<tr>

<td valign="top">
<h2>subdirectories</h2>
{% if paths_length %}
<table border="1">
{% for path in paths %}
<tr>
<td valign="top"><a href="/report/files?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}&path={{ path.path }}">{{ path.path }}</a></td>
<td width="500"><div data-loader="ajax" data-src="/graph/path_segment?repo={{ repo }}&start={{ start_str}}&end={{ end_str }}&path={{ path.path }}"/></td>
<td><a href="/report/commits?repo={{ repo }}&start={{ start_str}}&end={{ end_str }}&path={{ path.path }}"/ aria-label="Commits"><i aria-hidden='true' class='fas fa-rss-square' title="Commits"></i></a></td>
</tr>
{% endfor %}
</table>
{% else %}
0 subdirectories
{% endif %}
</td>


<td valign="top">
<h2>files</h2>
{% if files_length %}

<table border="1">
{% for file in files %}
<tr>
<td valign="top">{{ file.filename }}</td>
<td width="500"><div data-loader="ajax" data-src="/graph/path_segment?repo={{ repo }}&start={{ start_str}}&end={{ end_str }}&path={{ file.path }}&file={{ file.filename }}"/></td>
<td><a href="/report/commits?repo={{ repo }}&start={{ start_str}}&end={{ end_str }}&path={{ path.path }}"/ aria-label="Commits"><i aria-hidden='true' class='fas fa-rss-square' title="Commits"></i></a></td>
</tr>
{% endfor %}
</table>
</td>
{% else %}
0 files
{% endif %}
</tr>
</table>



{% include 'footer.html' %}